<% if user_signed_in? %>
<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rollno</th>
      <th>Branch</th>
      <th>Year</th>
      <th>Sem</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>User_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.Name %></td>
        <td><%= student.Rollno %></td>
        <td><%= student.branch %></td>
        <td><%= student.year %></td>
        <td><%= student.sem %></td>
        <td><%= student.Email %></td>
        <td><%= student.mobile %></td>
         <td><%= student.user_id %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
<% end %>

